{% extends "layout.html" %}

{% block content %}
    <!--<div class="container">-->
      <div class="row" style="padding: 4em 4em 0 0">
        </br></br></br>
        <div class="col">
          <div class="row">
              <!--<div class="col">-->
                 <!--Empty Col -->
              <!--</div>-->
              <div class="col">
                <img src="ken.png" style="max-width: 50%; height:auto; width: auto\9; /* ie8 */; display: block; margin-left: auto; margin-right: auto;">
              </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
              <div class="col" style="padding: 9em 6em 0 0; text-align:center; height:auto; width: auto\9; /* ie8 */; display: block; margin-left: auto; margin-right: auto;">
                  Blockchain-based technologies<br>
                  Machine Learning<br>
                  Applied Statistics<br>
                  Quantitative Development<br>
                  Mathematical Reasoning
              </div>
          </div>
          <div class="row">
            <style>
                img {
                    max-width: 25%;
                    height: auto;
                    width: auto\9; /* ie8 */;
                    padding: 5em 0 0 0;
                }
            </style>
            <div class="col">
                <a href="https://github.com/kennethgoodman" target="_blank">
                    <img src="github.png" alt="github logo">
                </a>
            </div>
            <div class="col">
                <a href="https://twitter.com/pythonprimes" target="_blank">
                    <img src="twitter.png" alt="twitter logo">
                </a>
            </div>
            <div class="col">
                <a href="https://medium.com/@kenneth_39853" target="_blank">
                    <img src="medium.jpeg" alt="medium logo">
                </a>
            </div>
            <div class="col">
                <a href="https://www.linkedin.com/in/kennethgoodman/" target="_blank">
                    <img src="linkedin.jpeg" alt="linkedin logo">
                </a>
            </div>
          </div>
        </div>
      </div>
    <!--</div>-->
{% end %}