{% extends "layout.html" %}

{% block content %}
    <!--<div class="container">-->
      <div class="row" style="padding: 4em 4em 0 0">
        </br></br></br>
        <div class="col">
          <div class="row">
              <!--<div class="col">-->
                 <!--Empty Col -->
              <!--</div>-->
              <div class="col">
                <img src="ken.png" style="max-width: 50%; height:auto; width: auto\9; /* ie8 */; display: block; margin-left: auto; margin-right: auto;">
              </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
              <div class="col" style="padding: 9em 6em 0 0; text-align:center; height:auto; width: auto\9; /* ie8 */; display: block; margin-left: auto; margin-right: auto;">
                  Blockchain-based technologies<br>
                  Machine Learning<br>
                  Applied Statistics<br>
                  Quantitative Development<br>
                  Mathematical Reasoning
              </div>
          </div>
          <div class="row">
            <style>
                img {
                    max-width: 25%;
                    height: auto;
                    width: auto\9; /* ie8 */;
                    padding: 5em 0 0 0;
                }
            </style>
            <div class="col">
                <a href="https://github.com/kennethgoodman" target="_blank">
                    <img src="github.png" alt="github logo">
                </a>
            </div>
            <div class="col">
                <a href="https://twitter.com/pythonprimes" target="_blank">
                    <img src="twitter.png" alt="twitter logo">
                </a>
            </div>
            <div class="col">
                <a href="https://medium.com/@kenneth_39853" target="_blank">
                    <img src="medium.jpeg" alt="medium logo">
                </a>
            </div>
            <div class="col">
                <a href="https://www.linkedin.com/in/kennethgoodman/" target="_blank">
                    <img src="linkedin.jpeg" alt="linkedin logo">
                </a>
            </div>
          </div>
        </div>
        <div class="col">
      		<p style="display:inline-block;">
      			-----BEGIN PGP SIGNED MESSAGE-----<br>
				Hash: SHA256<br>
				<br>
				email: kengoodman@protonmail.com<br>
				twitter: @pythonprimes<br>
				PGP: 7C27 D817 8966 AC3E EC81 9841 6C63 1B7C 3E5D 43BC<br>
				-----BEGIN PGP SIGNATURE-----<br>
				<br>
				iQFOBAEBCAA4FiEEfCfYF4lmrD7sgZhBbGMbfD5dQ7wFAltwm30aHGtlbmdvb2Rt<br>
				YW5AcHJvdG9ubWFpbC5jb20ACgkQbGMbfD5dQ7zXJQf/a0v8viJ688Rvn0bDRPO5<br>
				uQLnjZRREo+B4i9JdagNez645xsIA4pSbgCFILlP3ihy/t72mJziEQJAP5kPC+mr<br>
				OvIKk7lNv5bhI/fTJlegaZt5EdJ53quL8fus4Y1lkU9lJsLuodqs3SzJw87puQGE<br>
				jWlIxsGj70BAHSxTnnBwmrdqRT8HNyDI67wjJdCL08GLqFeIJd1NlF+5tn/J5BmP<br>
				+2cv7ilRWs+bS1QYluIi6pW0Z6P/XJzOHOqf4QC/XVS/2Olfx80HUv/XpZuVGuqV<br>
				M/4LeG+Y41e+zcRz9QebNNKRyyY+nPBrOLX+Y1E6cEYFGow5P6PgTTXitTxuozON<br>
				bA==<br>
				=oO6h<br>
				-----END PGP SIGNATURE-----
			</p>
      	</div>
      </div>
    <!--</div>-->
{% end %}
