<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Kenneth Goodman</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Personal Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://github.com/kennethgoodman/cunyfirst-API" target="_blank">CunyFirst API</a>
            <a class="dropdown-item" href="https://github.com/kennethgoodman/pylog" target="_blank">PyLog</a>
        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Blockchain & Cryptocurrencies
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://github.com/kennethgoodman/python-blockchain" target="_blank">Python-Written Simple Blockchain</a>
            <a class="dropdown-item" href="https://github.com/kennethgoodman/bitcoin_eda_effects" target="_blank">EDA Analysis</a>
            <a class="dropdown-item" href="https://github.com/kennethgoodman/proofofstakeanalysis" target="_blank">PoS Analysis</a>
            <a class="dropdown-item" href="https://github.com/kennethgoodman/tetheranalysis" target="_blank">Tether Analysis</a>
            <a class="dropdown-item" href="https://github.com/kennethgoodman/ethereumscripts" target="_blank">Ethereum Scripts</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Classes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <style>h4 {margin-left: 3mm}</style>
            <div class="dropdown-divider"></div>
            <h4>Fordham:</h4>
            <a class="dropdown-item" href="https://github.com/kennethgoodman/pythonClass" target="_blank">Business And Legal Of Cryptocurrencies</a>
            <div class="dropdown-divider"></div>
            <h4>CUNY Queens College:</h4>
            <a class="dropdown-item" href="https://github.com/kennethgoodman/blockchainclass" target="_blank">Mathematics Of Blockchain Class</a>
            <a class="dropdown-item" href="#">Calculus</a>
            <a class="dropdown-item" href="#">Discrete Mathematics</a>
            <div class="dropdown-divider"></div>
            <h4>Personal:</h4>
            <a class="dropdown-item" href="https://github.com/kennethgoodman/pythonClass" target="_blank">Python Class</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

</div>
